.float-block {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
}

canvas {
    background: #000000;
    border: 1px solid;
    box-shadow: 10px 10px 5px #888888;
    margin: 1em
}

h1 {
    margin: 1em 0 0 5em;
}